<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="jackal_lidar" params="prefix parent_link origin_xyz origin_rpy">
    
    <link name="${prefix}_laser">
      <visual>
        <geometry><cylinder radius="0.025" length="0.05"/></geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <geometry><cylinder radius="0.025" length="0.05"/></geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>

    <joint name="${prefix}_laser_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}_laser"/>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    </joint>

    <gazebo reference="${prefix}_laser">
      <sensor name="${prefix}_lidar" type="ray">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.14159</min_angle>
              <max_angle>3.14159</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>12.0</max>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="${prefix}_scan" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=${prefix}/scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>${prefix}_laser</frame_name>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
